<!DOCTYPE HTML> 
<html>
	<head>
		
	</head>
	<body>
		<h1>
	SELECT THE CLASS
</h1>
<br>

<div>
	<a href="/class1">CLASS 1</a>	
</div>
<br>
<div>
	<a href="/class2">CLASS 2</a>	
</div>
<br>
<div>
	<a href="/class3">CLASS 3</a>	
</div>
<br>
<div>
	<a href="/class4">CLASS 4</a>	
</div>
<br>
<div>
	<a href="/class5">CLASS 5</a>	
</div>
<br>
<div>
	<a href="/class6">CLASS 6</a>	
</div>
<br>
<div>
	<a href="/class7">CLASS 7</a>	
</div>
<br>
<div>
	<a href="/class8">CLASS 8</a>	
</div>
<br>
<div>
	<a href="/class9">CLASS 9</a>	
</div>
<br>
<div>
	<a href="/class10">CLASS 10</a>	
</div>
<br>

	</body>
</html>
<form action="/log-out" method="POST" class="d-inline">
          <button class="btn btn-sm btn-secondary">Sign Out</button>
</form>