 <!DOCTYPE HTML>
  
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>EDUBOOK</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
	
}

.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: green;
	/* #ddd */
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .login-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
}
	.topnav input[type=password] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width:120px;
}

.topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background-color: green;
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
	.topnav a:hover {
  background-color: green;
	/* #ddd */
  color: black;
}
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
	.topnav a, .topnav input[type=password], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=password] {
    border: 1px solid #ccc;  
  }
	}
	#main-footer{
	margin-top: 30px;
	border: 20px;
	padding: 30px;
	text-align: center;
	background-color: rgb(2,33,21);
}
</style>
  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
 
</head>
	<body>
		<div class="topnav">		
	<div style="display:inline">
		
		<h1 style='text-align:center;background-color:red;margin-top:0px;'>
			EDUBOOK
		</h1>
		
		<br>
		<a style="margin-left:20px;"href="/adminpage" class="post-request">ADMIN LOGIN</a>
        <a style="margin-left:20px" href="/teacherpage" class="post-request">TEACHER LOGIN</a>
	    <a style="margin-left:20px" href="/studentregister">STUDENT SIGNUP</a>
		<a style="margin-left:20px" href="/sample">SAMPLE LOGIN DETAILS</a>
	</div>
    </div>
         <div class="container py-md-5">

  <div class="row align-items-center">
    <div class="col-lg-7 py-3 py-md-5">
		
	<div class="w3-content w3-section" style="max-width:500px">
  <img class="mySlides" src="https://smedia2.intoday.in/indiatoday/images/stories/2016August/t6_090116034128.jpg" style="width:100%">
  <img class="mySlides" src="https://smedia2.intoday.in/indiatoday/images/stories/2016August/t10_090116034128.jpg" style="width:100%">
  <img class="mySlides" src="https://smedia2.intoday.in/indiatoday/images/stories/2016August/t2_090116034128.jpg" style="width:100%">
  <img class="mySlides" src="https://smedia2.intoday.in/indiatoday/images/stories/2016August/t1_090116034128.jpg" style="width:100%">
  </div>
		<script>
var myIndex = 0;
carousel();

function carousel() {
  var i;
  var x = document.getElementsByClassName("mySlides");
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  myIndex++;
  if (myIndex > x.length) {myIndex = 1}    
  x[myIndex-1].style.display = "block";  
  setTimeout(carousel, 3000); // Change image every 3 seconds
}
</script> 
    </div>
			
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
      <form action="/login" method="POST" id="registration-form">
<h2 style='color:black;' >
	STUDENT LOGIN:
		  </h2><br>
          <div class="form-group">
            <label for="username-register" class="text-muted mb-1"><small>Username</small></label>
			  <input type="text" id="username-register" class="form-control" placeholder="Username" name="username">
            <!-- <input name="username" id="username-register" class="form-control" type="text" placeholder="Enter your phone number" required> -->
          </div>
          
         
          
          <div class="form-group">
            <label for="password-register" class="text-muted mb-1"><small>Password</small></label>
			  <input type="password" id="password-register" class="form-control" placeholder="Password" name="password">
            <!-- <input name="password" id="password-register" class="form-control" type="password" placeholder="" required> -->
          </div>
          
		   
		  <% errors.forEach(function(message) { %>
        <div class="alert alert-danger text-center"><%= message %></div>
        <% }) %>
          <button type="submit"  class="py-3 mt-4 btn btn-lg btn-success btn-block">Sign In </button>
          
        </form>
      </div>
    </div>
  </div>
		<footer id="main-footer">
		<p style='color:white;'>copyright &copy;EDUBOOK 2020</p>
	</footer>
	</body>
</html>



<!--  

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Student Login</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
* {box-sizing: border-box;}

body { 
	
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #a9e9a9;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .login-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 2px;
  font-size: 17px;
  border: none;
  width:120px;
}

.topnav .login-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: #555;
  color: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .login-container button:hover {
  background-color: green;
}

@media screen and (max-width: 600px) {
  .topnav .login-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .login-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}
</style>
  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
 
</head>
<body>

<h2 align="center">SCHOOL REPORT</h2> 
	<hr>	
	
	<div class="topnav">		
	<div style="display:inline">
		<a style="margin-left:60%;"href="/adminpage" class="post-request">ADMIN LOGIN</a>
        <a style="margin-left:20px" href="/teacherpage" class="post-request">TEACHER LOGIN</a>
	    <a style="margin-left:20px" href="/">STUDENT LOGIN</a>
		
	
	</div>
  
 

	 <div class="login-container">
    <form action="/login" method="post">
      <input type="text" placeholder="Username" name="username">
      <input type="password" placeholder="Password" name="password">
      <button type="submit">Login</button>
    </form>
   <% errors.forEach(function(message) { %>
    <div class="alert alert-danger text-center"><%= message %></div>
  <% }) %>
  </div>


<div class="container py-md-5">

  <div class="row align-items-center">
    <div class="col-lg-7 py-3 py-md-5">
		<h4>
			<u><strong>
				Welcome to Student Login Page
				</strong></u>
		</h4><br>
      <h4>Are You Here For The First Time.Then Register With Us..</h4>    
		 <% regErrors.forEach(function(message) { %>
          <div class="alert alert-danger small"><%= message %></div>
        <% }) %>
     
    </div>
    <div class="col-lg-5 pl-lg-5 pb-3 py-lg-5">
      <form action="/register" method="POST" id="registration-form">
<h1 >
	Register:
		  </h1><br>
          <div class="form-group">
            <label for="username-register" class="text-muted mb-1"><small>Username</small></label>
            <input name="username" id="username-register" class="form-control" type="text" placeholder="Enter your phone number" required>
          </div>
          
         
          
          <div class="form-group">
            <label for="password-register" class="text-muted mb-1"><small>Password</small></label>
            <input name="password" id="password-register" class="form-control" type="password" placeholder="Create a password" required>
          </div>
          
		   <div class="form-group">
         
			     <label for="psw-repeat" class="text-muted mb-1"><small>Repeat Password</small></label>
    <input type="password" placeholder="Repeat Password" name="psw" id="psw-repeat" class="form-control"    required>
          </div>
		  
          <button type="submit"  class="py-3 mt-4 btn btn-lg btn-success btn-block">Sign up </button>
          
        </form>
      </div>
    </div>
  </div>


</body>
</html>
 -->