<!DOCTYPE HTML>
<html>
	<head>
		<title>SAMPLE LOGIN DETAILS</title>
		<script>
		  function display()
		 {
				document.getElementById("btn").style.visibility="visible";
			    setTimeout(clear,5000);
		 }
		function clear()
		{
				document.getElementById("btn").style.visibility="hidden";
		}
		
		</script>
	</head>
	<body>
		<h1 style="text-align:center;color:red">
			Student login details are provided below.
		</h1>
		<br>
		<br>
			<h3 style="text-align:center;color:green" >
				username:9063799185				
			</h3>
		    <h3 style="text-align:center;color:green" >
				password:vvr@1111
			</h3>
		    <div style="margin:120px;width:100%;">
				<h4>
				Teachers and Admin pages are similar to the student page inside .				
		    </h4>
		    <p>
				Teachers and Admin login details are not provided due to random logins and posting notices marks 
				will increase the database size (i have only upto 50mb free).
		    </p>
		    <p>
		        Wanted to see the Teachers and Admin pages Please mail to the given mail Id for login details.
			</p>
			<button type="button" onclick="display()">
				Emial Address
			</button>
			<label id="btn" style="visibility: hidden;">
				9063799185vvr@gmail.com
			</label>
			
		   </div>
		   
		
	</body>
</html>