<h1>
	SORRY THE USERNAME IS NOT IN THE USE
</h1>
<h3>
	PLZ CONTACT THE SCHOOL ADMIN.
</h3>
<h2>
   WE SUGGEST YOU TO GO BACK BY USING THE BELOW BUTTON.
</h2>
	<form action="/logout" method="POST" class="d-inline">
          <button class="btn btn-sm btn-secondary">GO BACK TO THE LOGIN PAGE</button>
    </form>