	<div>
	
	<form action="/loggout" method="POST" class="d-inline">
          <button class="btn btn-sm btn-secondary">Sign Out</button>
        </form>
</div>

<h1>
	This is teacher home page
</h1>
<p>
	This page is still in developing Process
</p>
<p>
	meanwhile you can enjoy something over  here
	<a href="https://www.facebook.com/trinu.chakri">Torch Bearer</a>
	
</p>