<!-- ********************************** -->
<!-- NO USE OF THIS EJS  -->
<!-- ******************************************** -->
<!-- fffffffffffffffffffffffffff -->
<h1>
	SELECT THE CLASS
</h1>
<br>

<div>
	<a href="/tclass1">CLASS 1</a>	
</div>
<br>
<div>
	<a href="/tclass2">CLASS 2</a>	
</div>
<br>
<div>
	<a href="/tclass3">CLASS 3</a>	
</div>
<br>
<div>
	<a href="/tclass4">CLASS 4</a>	
</div>
<br>
<div>
	<a href="/tclass5">CLASS 5</a>	
</div>
<br>
<div>
	<a href="/tclass6">CLASS 6</a>	
</div>
<br>
<div>
	<a href="/tclass7">CLASS 7</a>	
</div>
<br>
<div>
	<a href="/tclass8">CLASS 8</a>	
</div>
<br>
<div>
	<a href="/tclass9">CLASS 9</a>	
</div>
<br>
<div>
	<a href="/tclass10">CLASS 10</a>	
</div>
<br>
<div>
	<form action="/loggout" method="POST" class="d-inline">
          <button class="btn btn-sm btn-secondary">Sign Out</button>
    </form>
  
</div>
